<div id="user-profile" class="container mt-5">
  <h1 class="display-4 text-dk-green" style="font-family: righteous">User Profile</h1>

  <div *ngIf="user">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Address</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phoneNumber }}</td>
          <td>{{ user.address }}</td>
          <td>{{ user.role }}</td>
        </tr>
      </tbody>
    </table>

    <!-- Additional user information can be displayed here -->

    <!-- You can add buttons or links for actions related to the user profile -->
    <a id="edit-user" routerLink="/users/{{ user.empId }}/edit" class="btn btn-info">Edit Profile</a>

  </div>

  <div *ngIf="!user" class="alert alert-warning">
    <p id="no-user" class="mb-0">User not found.</p>
  </div>
</div>