/*
* Project Name: not-found.component.css
* Authors: Laurel Condon, James Harper, Danielle Taplin
* Date: 2/12/2024
*/

/* 404 Page Styles */
.not-found-container {
  text-align: center;
  padding: 50px;
  width: 100%;
}

a {
  display: block;
  margin-top: 20px;
  color: #1A6534;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}
a:hover {
      color: #869B3B;
    }

    .glow-img {
      box-shadow: 0 0 20px #869B3B;
      max-width: 100%;
      border-radius: 10px;
      padding: 10px;
    }