<!---
* Project Name: faq.component.html
* Authors: Laurel Condon, James Harper, Danielle Taplin
* Date: 2/12/2024
*/ accordion code adopted from: https://mdbootstrap.com/docs/standard/extended/accordion/
-->


<!-- IMAGES TO BE ADDED ON EDIT-->
<div style="min-height: 600px;">
    <div class="mt-3">
      <div class="header">
        <h1 class="mb-2">Frequently Asked Questions</h1>
        <p class="mt-2" style="width: 50%;">Here you will find step-by-step instructions to complete necessary work functions here at Bob's Computer Repair Shop.</p>
      </div>
  
      <div class="accordion mt-5" id="accordionFaq">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              User Configuration
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionFaq">
            <div class="accordion-body">
                <h3>View the user list</h3>
                <ol>
                <li>
                  <p>To view the list of user's, click on the profile at the top of any page.</p>
                  <div style="width: 50%;"><img class="faq-img img-fluid" src="../../assets/1navbar1.PNG" alt="Picture of BCRS home page nav bar showing the top right profile"></div>
                </li>
                <br>
                <br>
                <li>
                  <p>Then click on the users option to take  you to the user list page.</p>
                  <div style="width: 50%;"><img class="faq-img img-fluid" src="../../assets/1navbar.PNG" alt="Picture of BCRS home page with the Profile drop down menu and users option outlined in a red box."></div>
                </li>
              </ol>
                <br>
                <br>
  
                <h3>Create a new user.</h3>
                <ol>
                <li>
                  <p>Click on the new button "New User" button above the user list.</p>
                  <div style="width: 50%;"><img class="faq-img img-fluid" src="../../assets/7addnewuser1.PNG" alt="Picture of the Admin: User Config interface with New User outlined in a red box."></div>
                </li>
                <br>
                <br>
                <li>
                  <p>Fill out the new user's info then click submit.</p>
                  <div style="width: 50%;"><img class="faq-img img-fluid" src="../../assets/7newuser2.PNG" alt="Picture of the User information form with First Name, Last Name, Phone Number, and Address.">
                    </div>
                </li>
              </ol>
                <br>
                <br>
  
                <h3>Edit a current user.</h3>
                <ol>
                <li>
                  <p>Click on the edit icon for the user you wish to edit.</p>
                  <div style="width: 50%;"><img class="faq-img img-fluid" src="../../assets/8edituser.PNG" alt="Pictures of the Admin: User Config interface with the edit button outlined in red."></div>
                </li>
                <br>
                <br>
                <li>
                  <p>Edit the user's info field(Note: Name and Role are the only editable parts for the user).</p>
                 
                </li>
              </ol>
  
                <br>
                <br>
  
                <h3>Delete a user.</h3>
                <ol>
                <li>
                  <p>Click on the trash icon for the user you want to delete.</p>
                  <div style="width: 50%;"><img class="faq-img img-fluid" src="../../assets/8delete.PNG" alt="Picture of the Admin: User Config interface with the delete icon outlined in red."></div>
                </li>
                <br>
                <br>
                <li>
                  <p>On the popup, click OK to delete the user(Note: Once the user is deleted, they can not be brought back).</p>
                  <div style="width: 50%;"><img class="faq-img img-fluid" src="../../assets/8deleteconfirm.PNG" alt="Picture of the popup to confirm the deletion of a user."></div>
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Account Registration
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionFaq">
            <div class="accordion-body">
              <ol>
                <li>
                  <p>Click on the Sign-in button on the home page of Bob's Computer Repair Shop.</p>
                  <div style="width: 50%;"><img class="faq-img img-fluid" src="../../assets/1signinbutton.PNG" alt="Picture of BCRS home page with Sign-in outlined in red."></div>
                </li>
                <br>
                <br>
                <li>
                  <p>Click on Sign up now.</p>
                  <div style="width: 50%;"><img class="faq-img img-fluid" src="../../assets/2createnewacct.PNG"
                    alt="Picture of the Sign In interface with Sign up now outlined in red."></div>
                </li>
                <br>
                <br>
                <li>
                  <p>Fill out the required fields then click Register Account.</p>
                  <div style="width: 50%;"><img class="faq-img img-fluid" src="../../assets/2register.PNG"
                    alt="Picture of the User Information form with First Name, Last Name, Phone Number, and Address as well as 3 security question and answer fields"></div>
                </li>
                <br>
                <br>
                <li>
                  <p>Sign in to the application using the username and password you just created.</p>                
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Reset Password
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionFaq">
            <div class="accordion-body">
              <ol>
                <li>
                  <p>When on the Sign-in page, click the "Forgot Password?" link.</p>
                  <div style="width: 50%;"><img class="faq-img img-fluid" src="../../assets/3forgotpassword.PNG"
                    alt="Sign In Interface"></div>
                </li>
                <br>
                <br>
                <li>
                  <p>Type in your valid company email then click continue.</p>
                  <div style="width: 50%;"><img class="faq-img img-fluid" src="../../assets/3enteremail.PNG"
                    alt="Email validation"></div>
                </li>
                <br>
                <br>
                <li>
                  <p>Type in the answers for your security questions then click submit.</p>
                  <div style="width: 50%;"><img class="faq-img img-fluid" src="../../assets/3secq.PNG"
                    alt="Three Security Questions"></div>
                </li>
                <br>
                <br>
                <li>
                  <p>Type in a new password containing at least 8 character, with at least one uppercase letter, one lowercase letter, and one number and type it again in the second box to confirm then click Reset Password.</p>
                  <div style="width: 50%;"><img class="faq-img img-fluid" src="../../assets/3changepw.PNG"
                    alt="New Password Creation"></div>
                </li>
                <br>
                <br>
                <li>
                  <p>Sign in with your new password</p>
                </li>
              </ol>
            </div>
          </div>
        </div>
        <!-- continueing to service repair request, invoice summary, purchases by service graph -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Service Repair Request
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionFaq">
            <div class="accordion-body">
              <ol>
                <li>
                  <p>When on the Home Page, click on the Service link at the top of the page.</p>
                  <div style="width: 50%;"><img class="faq-img img-fluid" src="../../assets/5servicerepair.PNG"
                    alt="Home page with Service outlined"></div>
                </li>
                <br>
                <br>
                <li>
                  <p>You should see a list of Service Request options. Find which one(s) are being requested.</p>
                  <div style="width: 50%;"><img class="faq-img img-fluid" src="../../assets/5servicerepair2.PNG"
                    alt="Service request options"></div>
                </li>
                <br>
                <br>
                <li>
                  <p>Once you find the Service that is being requested, click on the check box next to it. You can click on multiple boxes if multiple services are being requested.</p>
                  <div style="width: 50%;"><img class="faq-img img-fluid" src="../../assets/5servicerepair3.PNG"
                    alt="Service request checkbox"></div>
                </li>
                <br>
                <br>
                <li>
                  <p>Once you have checked all services being requested, scroll down and click the submit button.</p>
                  <div style="width: 50%;"><img class="faq-img img-fluid" src="../../assets/5servicerepair4.PNG"
                    alt="Submit button"></div>
                </li>
                <br>
                <br>
                <li>
                  <p>You should be taken to the receipt to confirm the request.</p>
                </li>
                <br>
                <br>
              </ol>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              Invoice Summary
            </button>
          </h2>
          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionFaq">
            <div class="accordion-body">
              <ol>
                <li>
                  <p>After completing a service request you will be taken to the receipt page.</p>
                  <div style="width: 50%;"><img class="faq-img img-fluid" src="../../assets/9invoice1.PNG" alt="Order receipt"></div>
                </li>
                <br>
                <br>
                <li>
                  <p>To print the receipt for the customer, click the print button below the order confirmation.</p>
                  <div style="width: 50%;"><img class="faq-img img-fluid" src="../../assets/9invoice2.PNG" alt="Order receipt with print outlined"></div>
                </li>
                <br>
                <br>
                <li>
                  <p>A popup will appear, if the printer matches where you want it printed then you can press print.</p>
                  <div style="width: 50%;"><img class="faq-img img-fluid" src="../../assets/9invoice3.PNG" alt="Finalize print screen"></div>
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              Purchases by Service
            </button>
          </h2>
          <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionFaq">
            <div class="accordion-body">
              <ol>
                <li>
                  <p>When on the Home Page signed in as an Admin, click on the profile icon.</p>
                  <div style="width: 50%;"><img class="faq-img img-fluid" src="../../assets/1signinbutton.PNG"
                    alt="Home page with profile outlined"></div>
                </li>
                <br>
                <br>
                <li>
                  <p>Click Graph on the drop down menu that displays.</p>
                  <div style="width: 50%;"><img class="faq-img img-fluid" src="../../assets/6graph2.PNG"
                    alt="Drop down menu with graph outlined"></div>
                </li>
                <br>
                <br>
                <li>
                  <p>A Circle graph should appear with information on all the purchases at the shop.</p>
                  <div style="width: 50%;"><img class="faq-img img-fluid" src="../../assets/0graph1.PNG"
                    alt="Circle graph"></div>
                </li>
                <br>
                <br>
                <li>
                  <p>Hover over any piece of the pie graph to display data on individual service requests.</p>
                  <div style="width: 50%;"><img class="faq-img img-fluid" src="../../assets/0graph2.PNG"
                    alt="Circle graph with item outlined"></div>
                </li>
                <br>
                <br>
                <li>
                  <p>Click any of the labels in the key to to cross them off and take them out of the data that is displayed in the pie graph.</p>
                  <div style="width: 50%;"><img class="faq-img img-fluid" src="../../assets/0graph3.PNG"
                    alt="Circle graph with labels crossed off"></div>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>