/*
* Project Name: service-graph.component.css
* Authors: Laurel Condon, James Harper, Danielle Taplin
* Date: 2/12/2024
*/

#chart-container {
    height: 85vw;
    width: 90vw;
    max-width: 1200px;
    max-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}