<!---
* Project Name: about.component.html
* Authors: Laurel Condon, James Harper, Danielle Taplin
* Date: 2/12/2024
*/
-->

<div fxLayout="column" class="blue">
    <section class="py-5 py-xl-8">
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
              <h2 class="mb-4 display-5 text-center">About Us</h2>
              <p class="text-secondary mb-5 text-center">Learn about BCRS and our amazing team.</p>
              <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
            </div>
          </div>
        <mat-card class="about">
            <mat-card-content>
                <p>
                    Bob's Computer Repair Shop is a reliable and efficient business that offers top-notch computer repair services.
                    Customers can trust Bob's team of skilled technicians to diagnose and fix any issue with their computers quickly and effectively.
                    Whether it's a hardware problem or software glitch, Bob's Computer Repair Shop is well-equipped to handle it all. With their prompt service and affordable prices,
                    customers can rest assured that their computer will be back up and running smoothly in no time.
            <br /><br>
            Bob's Computer Repair Service team is a group of highly skilled professionals who specialize in fixing computer issues.
            They have been in the business for over ten years, helping individuals and businesses get their computers up and running smoothly.
            With their extensive experience, they are able to quickly diagnose and resolve software and hardware problems.
             Whether it's a slow computer, a virus infection, or a broken screen, you can rely on Bob's team to provide prompt and reliable service.
              Rest assured that your computer is in capable hands with Bob's Computer Repair Service team. </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="container mt-5 p-7">
      <h2 class="text-center mb-4 display-4">BCRS Employee Directory</h2>

      <div class="row">
          <!-- Employee 1 -->
          <div class="col-lg-4 col-md-6 col-sm-6 mb-4">
              <div class="card">
                  <img src="../../assets/bob1.jpg" class="card-img-top" alt="Employee bob">
                  <div class="card-body">
                      <h5 class="card-title display-5" style="text-align: center;">Bob</h5>
                      <p class="card-text">Bob, the founder and owner of our computer repair store, brings
                        over two decades of experience to the team. A tech-savvy individual at 45, Bob is at
                        the forefront of technology trends and ensures the store's commitment to providing
                        advanced repair services. His leadership has shaped the store's identity, emphasizing
                        efficient electronic communications and a balanced approach between electronic and paper processes.</p>
                  </div>
              </div>
          </div>

          <!-- Employee 2 -->
          <div class="col-lg-4 col-md-6 col-sm-6 mb-4">
              <div class="card">
                  <img src="../../assets/charlie.jpg" class="card-img-top" alt="Employee Charlie">
                  <div class="card-body">
                      <h5 class="card-title display-5" style="text-align: center;">Charlie</h5>
                      <p class="card-text">With a solid background in computer repair and a passion for problem-solving,
                        Charlie Martinez is our Senior Technician. His 10 years of experience make him an invaluable asset
                        to the team. Charlie is known for his thorough understanding of diverse computer operations and his
                        ability to communicate technical solutions to clients in a clear and friendly manner.</p>
                  </div>
              </div>
          </div>

          <!-- Employee 3 -->
          <div class="col-lg-4 col-md-6 col-sm-6 mb-4">
              <div class="card">
                  <img src="../../assets/Char.jpg" class="card-img-top" alt="Employee Char">
                  <div class="card-body">
                      <h5 class="card-title display-5" style="text-align: center;">Char</h5>
                      <p class="card-text">Char is our newest technician, having joined the team in 2023. She is a recent graduate
                        of the Computer Repair and Networking program at the local community college. Char is known for her
                        attention to detail and her ability to quickly learn new technologies. She is a valuable addition to the team.</p>
                     </div>
                     </div>
                     </div>
          <!-- Employee 4 -->
          <div class="col-lg-4 col-md-6 col-sm-6 mb-4">
              <div class="card">
                  <img src="../../assets/Daniel.jpg" class="card-img-top" alt="Employee Daniel">
                  <div class="card-body">
                      <h5 class="card-title display-5" style="text-align: center;">Daniel</h5>
                      <p class="card-text">Daniel is our go-to IT Specialist, leveraging his expertise to keep our internal systems
                        running smoothly. Armed with an advanced understanding of modern software systems, Daniel ensures that our
                        workflow remains efficient. His role is crucial in supporting the team's day-to-day operations and maintaining
                        the integrity of our digital infrastructure.</p>
                        </div>
                        </div>
                        </div>
          <!-- Employee 5 -->
          <div class="col-lg-4 col-md-6 col-sm-6 mb-4">
              <div class="card">
                  <img src="../../assets/Ralph.jpg" class="card-img-top" alt="Employee Ralph">
                  <div class="card-body">
                      <h5 class="card-title display-5" style="text-align: center;">Ralph</h5>
                      <p class="card-text">Ralph is our Customer Service Representative, responsible for ensuring that our clients receive
                        the best possible service. His friendly and professional demeanor makes him a valuable asset to the team. Ralph
                        is known for his ability to communicate effectively with clients and his dedication to providing exceptional customer service.</p>
                        </div>
                        </div>
                        </div>
           <!-- Employee 6 -->
          <div class="col-lg-4 col-md-6 col-sm-6 mb-4">
              <div class="card">
                  <img src="../../assets/sarah.jpg" class="card-img-top" alt="Employee Sarah">
                  <div class="card-body">
                      <h5 class="card-title display-5" style="text-align: center;">Sarah</h5>
                      <p class="card-text">Sarah is our Marketing Specialist, responsible for promoting our services and ensuring that our brand
                        remains visible to our target audience. Her creative approach to marketing has helped us reach new clients and maintain
                        strong relationships with existing ones. Sarah's role is crucial in ensuring that our business continues to grow and thrive.</p>
                        </div>
                        </div>
                        </div>




      </div>
  </div>

