<!---
* Project Name: about.component.html
* Authors: Laurel Condon, James Harper, Danielle Taplin
* Date: 2/12/2024
*/
-->

<div fxLayout="column" class="blue">
    <h1>About Us</h1>
        <mat-card class="about">
            <mat-card-content>
                <p>
                    Nodebucket is an amazing website that offers a wide range of features to help you manage your tasks effectively. 
                    With its user-friendly interface and intuitive design, you can easily create, organize, and prioritize your tasks in no time.
                     Whether you're a student, a professional, or just someone who wants to stay organized, Nodebucket has got you covered. 
                     Best of all, it's completely free to use, so you can enjoy all its benefits without spending a dime!
            <br /><br>
            Nodebucket has established itself as a leader in the field. 
            Its cutting-edge features and streamlined interface make it a preferred choice for individuals and businesses seeking an efficient way to manage their tasks. </p>
            </mat-card-content>
        </mat-card>
    </div>
    
