<!---
* Project Name: about.component.html
* Authors: Laurel Condon, James Harper, Danielle Taplin
* Date: 2/12/2024
*/
-->

<div fxLayout="column" class="blue">
    <h1>About Us</h1>
        <mat-card class="about">
            <mat-card-content>
                <p>
                    Bob's Computer Repair Shop is a reliable and efficient business that offers top-notch computer repair services. 
                    Customers can trust Bob's team of skilled technicians to diagnose and fix any issue with their computers quickly and effectively. 
                    Whether it's a hardware problem or software glitch, Bob's Computer Repair Shop is well-equipped to handle it all. With their prompt service and affordable prices, 
                    customers can rest assured that their computer will be back up and running smoothly in no time.
            <br /><br>
            Bob's Computer Repair Service team is a group of highly skilled professionals who specialize in fixing computer issues. 
            They have been in the business for over ten years, helping individuals and businesses get their computers up and running smoothly. 
            With their extensive experience, they are able to quickly diagnose and resolve software and hardware problems.
             Whether it's a slow computer, a virus infection, or a broken screen, you can rely on Bob's team to provide prompt and reliable service.
              Rest assured that your computer is in capable hands with Bob's Computer Repair Service team. </p>
            </mat-card-content>
        </mat-card>
    </div>
    
