/*
* Project Name: invoice-summary.component.css
* Authors: Laurel Condon, James Harper, Danielle Taplin
* Date: 2/26/2024
*/

.invoice-container {
    width: 100%;
    min-width: 500px;
    max-width: 750px;
    margin: 50px auto 50px;
  }

  /* Change the color of the buttons */
button[color="accent"] {
  background-color: #816d38 !important;
  color: white !important;
}

button[color="primary"] {
  background-color: #f95f62 !important;
  color: white !important;
}
h1, div, input, button, label {
  font-family: 'Quicksand', sans-serif;
};