<!---
* Project Name: contact.component.html
* Authors: Laurel Condon, James Harper, Danielle Taplin
* Date: 2/12/2024
*/
-->

<div fxLayout="column" class="blue">
	<h1 class="yellow">Contact Us</h1>

	<mat-card class="contact">
		<mat-card-content>
			<p>
				<i class="material-icons md-">email</i><br />
				1000 Galvin Road South<br />
				Bellevue<br />
				Nebraska, 68005
			</p>
		</mat-card-content>
	</mat-card>
	<mat-card class="contact">
		<mat-card-content>
			<p>
				<i class="material-icons md-">phone</i><br />
				- Direct: 402.293.2000 <br />
				- Toll-Free: 1.800.756.7920
			</p>
		</mat-card-content>
	</mat-card>
	<div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">

		<div class="ratio ratio-16x9 text-center mt-4 mb-4">
			<!--Google Map-->
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3004.245409187343!2d-95.91975202332787!3d41.150996071330894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8793886b1d7a1565%3A0x79b8af7b5882cbac!2s1000%20Galvin%20Rd%20S%2C%20Bellevue%2C%20NE%2068005!5e0!3m2!1sen!2sus!4v1692837409505!5m2!1sen!2sus" width="600" height="450" class="map" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
			</iframe>
		</div>
		</div>
</div>