<!---
* Project Name: footer.component.html
* Authors: Laurel Condon, James Harper, Danielle Taplin
* Date: 2/12/2024
*/
-->

<footer class="bg-dark text-light text-center gradient-custom p-2">
  <div class="container footer-style">
    <p class="text-gray footer-para" style="margin-top: 15px;">&copy; 2024 Nodebucket. All rights reserved. Designed and built by Group Slytherin

      <!-- Add the router link for FAQ -->
      <a routerLink="/faq" class="text-gray nav-link" style="font-size: 25px; font-weight: bold;"><i class="bi bi-question-circle"></i> FAQ</a></p>
    <p>
      <a href="https://www.facebook.com/BellevueUniversity/"><i class="bi bi-facebook text-gray" style="margin: 5px;"></i></a>
      <a href="https://twitter.com/BellevueU"><i class="bi bi-twitter text-gray" style="margin: 5px;"></i></a>
      <a href="https://www.youtube.com/user/bellevueuniversity"><i class="bi bi-youtube text-gray" style="margin: 5px;"></i></a>

    </p>
  </div>
</footer>