/* You can add global styles to this file, and also import other style files */



/* import bootstrap icons */
@import '~bootstrap-icons/font/bootstrap-icons.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom Gradient for nav bar and footer */
.gradient-custom {
  /* Old Browsers */
 background: -webkit-linear-gradient(to right, #2B4A32, #1a6534);

 /* Newer Browsers */
 background: linear-gradient(to right, #2B4A32, #1a6534);
}


/* Heading Styles */
h1, h2, h3, h4, h5, h6 {
  color: #2B4A32 !important; /* Set the text color */

}
/* Footer Styles */
footer {
  margin-top: 40px; /* Update margin-top once other pages have been built */
}

/* Custom Font Colors */

.text-gray {
  color: #98a4a0;
}

.text-white {
  color: #fff;
}

.text-dk-green {
  color: #2b4a32
}

.text-lt-green {
  color: #1a6534 !important;
}

/* Link Styles */
.link-style {
  color: #1a6534; /* Set the text color */
  text-decoration: none; /* Remove the default underline */
}

/* Border Styles */
.custom-border {
  border-color: #869b3b !important;
}

/* Custom Button Styles */
custom-btn {
  background-color: #816d3b;
  color: #fff !important;
}

/* Image Shadow Styles */
.glow-img {
  box-shadow: 0 0 20px #869B3B;
  max-width: 100%;
  border-radius: 10px;
  padding: 10px;
}